#playerHud {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 200px; }
  #playerHud #hpBar {
    position: relative;
    left: 5px;
    top: 5px;
    width: 150px; }

#enemyHud {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 200px;
  display: none; }
  #enemyHud #hpBar {
    position: relative;
    right: 5px;
    top: 5px;
    width: 150px;
    margin-left: auto; }
