#feedback {
  font-size: 1.4em;
}

#itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  li {
    margin: 3px;
    padding: 8px 10px;
    font-size: 1.4em;
    width: 90px;
    height: 34px;
  }
}

